*.o
*.toml
*.log
*.status
*.in
*.a
*.sty
*.scan
core
.deps
*.out
*.txt
!requirements.txt
config.*
Makefile
*.tgz
tags
configure
aclocal.m4
autom4te.cache/
compile
depcomp
install-sh
ltmain.sh
missing
docs/html/
.DS_Store
*.pyc
__pycache__/
*.dSYM/
*.gch
.idea/
cmake-build-debug/
CMakeLists.txt
third_party/eigen_source/*
.m4
lib-link.m4
src/csv_to_libsvm
src/parameter_server
src/ps_test
third_party/kerberos/
src/.dirstamp
tests/iterator/test_libsvm_iterator
tests/test_travis/test_keyvalue
tests/test_travis/test_register_worker
tests/test_travis/test_lr
tests/test_travis/test_ps
tests/test_travis/worker
tests/test_travis/error
tests/test_travis_lr/test_lr
tests/test_travis_lr/test_ps
tests/test_travis_lr/worker
tests/test_travis_lr/error
tests/test_travis_mf/test_ps
tests/test_travis_mf/worker
tests/test_travis_mf/error
third_party/keyutils-1.5.10.tar.bz2
third_party/keyutils/
third_party/keyutils-1.5.10/
third_party/krb5-1.15.2.tar.gz
third_party/krb5-1.15.2/
third_party/curl/
.idea
