/third_party/keyutils/*
/third_party/kerberos/*
/third_party/keyutils-1.5.10/*
/third_party/krb5-1.15.2/*
/third_party/curl/*
*.status
*.in
*.a
*.sty
*.scan
*.o
*.csv
core
.deps
*.out
*.txt
config.*
Makefile
*.tgz
tags
configure
aclocal.m4
autom4te.cache/
compile
depcomp
install-sh
ltmain.sh
missing
docs/html/
*.pyc
__pycache__/
*.dSYM/
*.gch
third_party/eigen_source/*
.m4
lib-link.m4
